[submodule "emp-tool"]
	path = deps/emp-tool
	url = https://github.com/emp-toolkit/emp-tool
[submodule "emp-ot"]
	path = deps/emp-ot
	url = https://github.com/emp-toolkit/emp-ot
[submodule "emp-sh2pc"]
	path = deps/emp-sh2pc
	url = https://github.com/emp-toolkit/emp-sh2pc
[submodule "SEAL"]
	path = deps/SEAL
	url = https://github.com/microsoft/SEAL